<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_icon"
        android:label="Cachimbo Ya!"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App_CachimboYa"
        tools:targetApi="31">
        <activity
            android:name=".simulacrounaj_resultado"
            android:exported="false" />
        <activity
            android:name=".simulacrounaj_preguntas"
            android:exported="false" />
        <activity
            android:name=".simulacrounaj_inicio"
            android:exported="false" />
        <activity
            android:name=".simulacrounap_resultado"
            android:exported="false" />
        <activity
            android:name=".simulacrounap_preguntas"
            android:exported="false" />
        <activity
            android:name=".simulacrounap_inicio"
            android:exported="false" />
        <activity
            android:name=".simulacrounap_start"
            android:exported="false" />
        <activity
            android:name=".simulacrosunap_start"
            android:exported="false" />
        <activity
            android:name=".simulacrounap"
            android:exported="false" />
        <activity
            android:name=".areasdeestudio"
            android:exported="false" />
        <activity
            android:name=".tipsdeestudio"
            android:exported="false" />
        <activity
            android:name=".biblioteca_libros"
            android:exported="false" />
        <activity
            android:name=".biblioteca_examenes"
            android:exported="false" />
        <activity
            android:name=".biblioteca_cursos"
            android:exported="false" />
        <activity
            android:name=".simulacrosdeadmision"
            android:exported="false" />
        <activity
            android:name=".menuprincipal"
            android:exported="false" />
        <activity
            android:name=".registrarse"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>